<div class="flex flex-row">
  <div class="justify-evenly	items-center gap-2">
    <div *ngIf="img!; else noCoursePhoto">
      <img class="course-img" [src]="img">
    </div>

    <div class="flex flex-col gap-3">

      <h2>{{ title }}</h2>
      <div class="flex flex-row gap-2">
        <div *ngIf="authorPhoto!; else noAuthorPhoto">
          <img class="prof-img" [src]="authorPhoto">
        </div>
        <a>{{ authorName }}</a>
      </div>
    </div>
  </div>
</div>

<ng-template #noAuthorPhoto>
  <div class="prof no-img"></div>
</ng-template>

<ng-template #noCoursePhoto>
  <div class="course-img no-img"></div>
</ng-template>
