<div class="flex flex-col justify-between gap-2">
  <div class="items-center" *ngIf="img!; else noCoursePhoto">
    <img class="course-img" alt="Course image" [src]="img">
  </div>

  <!--      TODO: make card look good-->
  <h2>{{ title }}</h2>
  <div class="flex flex-row gap-2">
    <div *ngIf="authorPhoto!; else noAuthorPhoto">
      <img class="prof-img" alt="Profile image" [src]="authorPhoto">
    </div>
    <a>{{ authorName }}</a>
  </div>
  <button class="button" (click)="this.redirectTo(id)"> Continue </button>
</div>


<ng-template #noAuthorPhoto>
  <div class="prof no-img"></div>
  <a>{{ authorName }}</a>
</ng-template>

<ng-template #noCoursePhoto>
  <div class="course-img no-img items-center"></div>
</ng-template>
