<div class="flex flex-row">

  <div class="inner-container gap-2">
    <div class="course-img">
      <!--TODO: Place IMG Course here-->
    </div>

    <div class="flex flex-col gap-3">

      <h2>{{ title }}</h2>
<!--      <p>{{ last_read }}</p> -->
      <h2>title</h2>
      <p>by: {{ author }}</p>

<!--      <div class="flex flex-row gap-2">-->
<!--        <div class="prof-img">-->
<!--          &lt;!&ndash;TODO: Place IMG Prof here&ndash;&gt;-->
<!--        </div>-->
<!--        <a>{{ author }}</a>-->
    </div>
  </div>
</div>
