.container {
  background: #fdfdfd;
  border-radius: 16px;
  width: 506px;
}

mat-label {
  color: #000000!important;
}

mat-form-field {
  width: 426px;
}

a {
  color: #00ACC1;
}

.pointer {
  cursor: pointer;
}
