.container-login {
  background: #fdfdfd;
  border-radius: 16px;
  max-width: 506px;
  width:100%;
}

mat-label {
  color: #000000!important;
}

mat-form-field {
  width: 100%;
}

a {
  color: #00ACC1 !important;
}

.pointer {
  cursor: pointer;
}
