<div class="flex justify-center">
  <div class="profile-container flex flex-col w-4/5">
    <h1>Continue course</h1>
    <ng-container *ngFor="let course of courses; index as i">
      <app-medium-course  *ngIf="i<2"
                          [id]="course.id"
                          [title]="course.title"
                          [author]="course.author"
      ></app-medium-course>
    </ng-container>
  </div>
</div>

<div class="flex justify-center">

  <div class="profile-container w-4/5">
    <h1>Courses</h1>

    <div class=" overflow-auto">
      <div class="flex flex-row gap-4 ">
        <ng-container *ngFor="let courses of courses">
          <app-compact-course [title]="courses.title"
                              [author]="courses.author"
                              ></app-compact-course>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center ">

  <div class="profile-container w-4/5">
    <h1>Graph</h1>

    <div class=" overflow-auto">
      <div class="flex flex-row gap-4">
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
        <app-compact-course></app-compact-course>
      </div>
    </div>
  </div>
</div>
