.profile-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 24px 25vh 24px;


  gap: 32px;

  width: 100vh;
  height: fit-content;

  /* White */

  background: #FFFFFF;
  border-radius: 16px;
}

.main-p {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.second-p {
  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

h1 {
  width: 220px;
  height: 32px;

  /* Heading 2 */

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */


  /* Black */

  color: #000000;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

app-medium-course {
  display: flex;
  flex-direction: column;
  padding: 24px;

  /*width: 1052px;*/
  height: fit-content;

  /* White */

  background: #FFFFFFEB;
  border: 1px solid #e7e7e7;
  border-radius: 16px;
}
