.example-sidenav {
  margin-top: 40px;
  overflow-y: hidden;
}

.example-container {
  background-color: transparent !important;
}

.container{
  padding: 24px;
  margin: 24px 0 24px;

  /* White */

  background: #FFFFFF;
  border-radius: 16px;
}
