<div class="top-bar left-0 right-0 ">
  <div class="logo">
    <a href="/"><img src="../../../assets/images/logo-dark.svg" alt="Logo"></a>

    <a href="/browse" class="text-lg !text-white80 hover:!text-white transition duration-200 ">Browse</a>
  </div>
  <div class="top-nav flex pr-4 text-lg" *ngIf="getUserState()">
    <div class="top-nav--search">
      <input class="px-3 rounded" placeholder="Search" [(ngModel)]="searchValue" (keydown.enter)="onSearch()"/>
      <button (click)="onSearch()" class="top-nav-search-icon">
        <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
      <div class="top-nav--search-results shadow rounded py-3" *ngIf="isMenuOpen">
        <a *ngFor="let result of searchResults; let last = last" href="coursePage/{{result.id}}"
           class="m-0 p-3 block border-top border-gray-500 text-lg !text-black hover:bg-gray-100 transition duration-200"
           [ngClass]="{'border-bottom': last}">{{result.title}}</a>
      </div>
    </div>
    <a href="/profile/dashboard" class="text-lg !text-white80 hover:!text-white transition duration-200 ">Profile</a>
    <a href="/" (click)="logout()" class="text-lg !text-white80 hover:!text-white transition duration-200 ">Logout</a>
  </div>

  <div class="top-nav pr-3 text-lg" *ngIf="!getUserState()">
    <a href="/" class="text-lg !text-white80 hover:!text-white transition duration-200 ">About</a>
    <a href="/login" class="text-lg !text-white80 hover:!text-white transition duration-200 ">Login</a>
  </div>
</div>
