.logo a {
  text-decoration: none;
  margin-left: 12px;
}

.logo {
  @apply flex;
  align-items: center;

}

.top-nav a {
  margin-left: 20px;
  text-decoration: none;
}

img {
  height: 38px;
  @apply w-full;
}
