.logo a {
  text-decoration: none;
  margin-left: 12px;
}

.logo {
  @apply flex;
  align-items: center;
  gap: .5rem;
}

.top-nav--search {
  display: flex;
  justify-content: center;
  position: relative;
}

.top-nav-search-icon {
  height: 100%;
  margin-right: .5rem;
  position: absolute;
  right: 0;
}

.top-nav--search-results {
  background-color: white;
  position: absolute;
  top: 125%;
  left: -50%;
  right: 0;
}

.top-nav a {
  margin-left: 20px;
  text-decoration: none;
}

img {
  height: 38px;
  @apply w-full;
}
