<div class="top-bar left-0 right-0 ">
  <div class="logo ">
    <a href="/"><img src="../../../assets/images/logo-dark.svg" alt="Logo"></a>

    <div class="pl-3">
      <a href="/browse" class="text-lg !text-white80 hover:!text-white transition duration-200 ">Browse</a>
    </div>
  </div>
  <div class="top-nav pr-4 text-lg" *ngIf="getUserState() == true">
    <a href="/profile/dashboard" class="text-lg !text-white80 hover:!text-white transition duration-200 ">Profile</a>
    <a href="/" (click)="logout()" class="text-lg !text-white80 hover:!text-white transition duration-200 ">Logout</a>
  </div>

  <div class="top-nav pr-3 text-lg" *ngIf="getUserState() == false">
    <a href="/" class="text-lg !text-white80 hover:!text-white transition duration-200 ">About</a>
    <a href="/login" class="text-lg !text-white80 hover:!text-white transition duration-200 ">Login</a>
  </div>
</div>
