<div class="flex flex-row justify-between gap-4 w-full">

  <div class="inner-container gap-2">
    <div class="course-img">
      <!--TODO: Place IMG here-->
    </div>

    <div class="flex flex-col">
      <h2>Programming basics</h2>
      <p>3.1 - Mouse-ul si tastatura</p>

      <div class="flex flex-row ">
<!--     TODO:   Place IMG there-->
        <a>Nume Profesor</a>
      </div>

      <div class="flex flex-row ">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        <p>37/52</p>
      </div>
    </div>
  </div>

  <div class="grid place-content-center">

    <button class="button course-btn ">Continue course</button>
  </div>
</div>

