button:hover {
  color: rgba(225,227,232,0);
  background-color: rgba(33,33,33,0.39) !important;
}

button {
  /*color: rgba(225,227,232,0);*/
  background-color: rgb(230, 231, 235) !important;
}

.active-link {
  background-color: rgba(33,33,33,0.39) !important;

}

.mat-divider {
  background-color: rgba(33,33,33,0.39)
}
