/* You can add global styles to this file, and also import other style files */
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/addon/lint/lint.css';
@import '~codemirror/addon/hint/show-hint.css';
@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

html, body { height: 100%; }
body { margin: 0;}
.button {
  border: 1px solid #00ACC1;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;

  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
* {font-family: 'Inter', sans-serif;font-style: normal;}

h1,h2,p,a {color: #212121;}

.mat-body p, .mat-body-1 p, .mat-typography .mat-body p, .mat-typography .mat-body-1 p, .mat-typography p {
  margin: 0 !important;
}

.mat-h2, .mat-title, .mat-typography .mat-h2, .mat-typography .mat-title, .mat-typography h2 {
  margin: 0 !important;
}

.mat-progress-bar-buffer {
  background-color: #e7e7e7 !important;
}

.mat-progress-bar-fill::after {
  background-color: #00ACC1 !important;
}
