.example-sidenav {
  margin-top: 40px;
  overflow-y: hidden;
  width: 276px;
}

.mat-drawer{
  background-color: rgba(48, 48, 48, 0.1);
}

.example-container {
  background-color: transparent !important;
}

.container{
  padding: 24px;
  margin: 24px 0 24px 70px!important;

  background: #FFFFFF;
  border-radius: 16px;
}

ul {
  padding: 3rem!important;
}

